.features {
  margin-top: 120px;
}
.features__title {
  font-weight: 400;
}
.each-title{
  font-size: 30px;
}
.features__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.features__wrapper-each {
  padding: 0 20px;
}
.features__button {
  width: 75%;
  max-width: 290px;
}
.features__button-text{
  font-size: 18px; 
}
