
.questions__title {
  font-size: 48px; 
  padding: 0 30px; 
}
.questions__hotline-merged > svg {
  width: 28px;
  height: 28px;
}
.questions__hotline-title {
  font-size: 20px; 
}
.questions__hotline-num {
  font-size: 24px; 
}
.que-button-wrapper {
  font-size: 18px; 
}

.que-btn {
  font-size: 18px; 
  padding-bottom: 14px;
  padding-top: 14px; 
}
