.header__hotline {
  justify-content: space-evenly;
  padding: 0px;
}
.box-heading {
  margin-left: 0px; //
}

.elementor-icon > svg {
  margin-right: 0px; //
  margin-bottom: 0px;
}
.elementor-icon-second{
  display: block; //
  display: flex;
  text-align: center;
  align-items: center;
  vertical-align: middle;
}
.elementor-icon-second > svg{
  fill: #69727d;
  color: #69727d;
  width: 18px;
}