.description {
  margin-top: 90px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;

  @include e(title) {
    color: rgb(44, 55, 34);
    font-family: "Alegreya SC", sans-serif;
    font-size: 38px;
    font-weight: 400;
    margin-top: 30px;
  }
  @include e(text) {
    margin-top: 70px;
    padding: 0 20px;
  }
  @include e(text-p) {
    color: rgb(108, 120, 99);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 26px;
  }
  @include e(points) {
    margin-top: 35px;
  }
  @include e(images) {
    max-width: 100%;
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 0 15px;
    margin-top: 40px;
  }
}
.desc_img {
  width: 100px;
  height: 22px;
}

.points__each-section {
  display: flex;
  align-items: center;
}
.points__each-section > svg {
  fill: #586d43;
  color: #586d43;
}
.points-heading {
  color: rgb(44, 55, 34);
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.799999px;
  text-align: left;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.block-first {
  grid-column: 1 / span 10;
  grid-row: 1/5;
}
.block-second {
  grid-column: 6 / span 12;
  grid-row: 4 / span 6;
  z-index: 1;
}
.description__images-first {
  width: 100%;
  display: block;
  max-width: 500px;
}
.description__images-second {
  width: 100%;
  display: block;
  max-width: 400px;
}

hr,
hr:before,
hr:after {
  content: "";
  background: #9ad5b8;
  display: block;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  position: absolute;
  animation: anim-hr 6s linear infinite;
  border: 0;
  overflow: visible;
}
hr:before {
  left: -32px;
}
hr:after {
  left: 32px;
}
hr {
  position: relative;
  margin: 100px auto;
}
@keyframes anim-hr {
  0% {
    background: #9ad5b8;
  }
  50% {
    background: #0b6531;
  }
  100% {
    background: #9ad5b8;
  }
}
