.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  margin-top: 19px;
  margin-bottom: 19px;

  @include e(merge) {
    display: flex;
  }
  @include e(logo-img) {
    width: 100%;
    max-width: 150px;
  }
  @include e(basket) {
    margin-right: 13px;
  }
}
.header__search > svg {
  fill: #69727d;
  color: #69727d;
}
.header__basket > svg {
  fill: #69727d;
  color: #69727d;
}

////
.header__menu {
  cursor: pointer;
}
.mobile-menu {
  display: none;
  position: absolute;
}
