.list {
  margin-top: 110px;
  @include e(title) {
    align-items: center;
    text-align: center;
    padding: 0 15px;
  }
  @include e(products) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
    padding: 0 12px;
    margin-top: 75px;
  }
  @include e(products-each) {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @include e(product-title) {
    color: rgb(44, 55, 34);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    outline-color: rgb(44, 55, 34);
    text-decoration: none;
  }
  @include e(price) {
    margin-top: 5px;
  }
  @include e(reduce-price) {
    color: rgb(166, 173, 159);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
  }
  @include e(new-price) {
    color: rgb(182, 102, 80);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
  }
  @include e(image) {
    width: 100%;
    margin-bottom: 20px;
  }
  @include e(button) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    background-color: #586d43;
    max-width: 120px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
}
.mod {
  color: rgb(108, 120, 99);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  margin-top: 5px;
}
.sale {
  position: relative;
}
.onsale {
  background-color: rgb(182, 102, 80);
  border-radius: 50%;
  color: rgb(255, 255, 255);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  left: 17px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 50px;
}
.list__button-add {
  color: white;
  margin: 10px;
  order: 1;
  font-size: 12px;
  font-weight: 400;
  font-family: Inter, sans-serif;
}
.list__button > svg {
  width: 16px;
  height: 16px;
  fill: white;
  color: white;
  order: 0;
  margin-left: 10px;
}

.list-btn {
  margin-top: 50px;
  width: 200px;
  margin-bottom: 100px;
}
.list-text {
  padding: 15px 0px;
}
