.news {
  margin-top: 100px;
  text-align: center;
  position: relative;
  margin-bottom: 90px;
}
.new-one{
    padding: 0 10px;
}


.news__block-title{
    margin-bottom: 80px;
}
.news__image {
  width: 80%;
  margin: 0 auto;
}
.news-img {
  width: 100%;
}
.news__block {
 
}
.news__title {
  color: #2c3722;
  font-family: Alegreya, sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 31.200001px;
  padding: 0 40px;
  margin-bottom: 0;
}
.news__title:hover {
  color: rgb(182, 102, 80);
}
.news__date {
  color: #a6ad9f;
  font-family: Inter, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 25.6px;
  margin: 5px 0;
}
.news__button {
    background-color: rgb(71, 90, 52);
    color: rgb(255, 255, 255);
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}



.slider {
  position: relative;
  padding: 0px 60px; // поля между стрелкой и краем слайдера
}


.slider .slick-arrow{
  position: absolute;
  top: 50%; // выравнивание по вертикали
  margin: -15px 0 0 0; // корректировка вертикального выравнивания
  z-index: 2; // стрелки сверху картинок
  font-size: 0; // убираем надпись на дефолтной стрелке
  width: 30px; // ширина стрелки
  height: 30px; // высота стрелки
}

.slider .slick-arrow.slick-prev{
  left: 0; // левая стрелка остается с левой стороны слайдера
  background: url('../img/left-arrow.png') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next{
  right: 0; // правая стрелка переместилась справа от слайдера
  background: url('../img/right-arrow.png') 0 0 / 100% no-repeat;
}