.slider {
  justify-content: center;
  text-align: center;
  align-items: center;
  // position: relative;
  // width: 100%;
  // overflow: hidden;
}

.dots-style {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items:center;
  list-style: none;
  padding-bottom: 30px;
  margin-right: 35px;
}

.dots-style button {
  background: #619c7377;
  border: none;
  border-radius: 50%;
  font-size: 0;
  height: 10px;
  width: 10px;
  margin: 5px;
  outline: none;
}

.dots-style li[class="slick-active"] button {
  background: #64794d;
}





.color-slider {
  background-color: #f3f4ef;
  margin-top: 80px;
}
.slider__image {
  width: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 30px;
}
.slider__photo {
  width: 100%;
}
.slider__title {
  color: rgb(44, 55, 34);
  font-family: Alegreya, sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 25px;
}
.slider__descr {
  color: rgb(108, 120, 99);
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.799999px;
  text-align: center;
  margin-top: 10px;
}
.slider__button {
  align-items: center;
  background-color: rgb(100, 121, 77);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 10px 0px;
  color: rgb(255, 255, 255);
  font-family: Inter, sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  margin-top: 10px;
}
.slider__first {
  padding: 0 20px;
  padding-top: 50px;
  padding-bottom: 60px;
}
